// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system
$gray-300: #f6f6f6;
$gray-600: #909090;
$gray-900: #212529;

$blue:    #0e90cc;
$blue-alt: #68b3cc;
$purple:  #9a8acc;
$orange:  #d85328;
$yellow:  #e1a600;
$green:   #879f66;
$teal:    #37657c;
$cyan:    $blue-alt;
$red:     #dc3545;

// $colors: (
//   "blue":       $blue,
//   "indigo":     $indigo,
//   "purple":     $purple,
//   "pink":       $pink,
//   "red":        $red,
//   "orange":     $orange,
//   "yellow":     $yellow,
//   "green":      $green,
//   "teal":       $teal,
//   "cyan":       $cyan,
//   "white":      $white,
//   "gray":       $gray-600,
//   "gray-dark":  $gray-800
// );

// $theme-colors: map-remove($colors, "indigo", "pink");

// $primary:       $blue;
// $success:       $green;
// $warning:       $yellow;
// $danger:        $red;

$body-color:                $gray-900 !default;

// $blues: (
//   "blue-100": $blue-100,
//   "blue-200": $blue-200,
//   "blue-300": $blue-300,
//   "blue-400": $blue-400,
//   "blue-500": $blue-500,
//   "blue-600": $blue-600,
//   "blue-700": $blue-alt,
//   "blue-800": $blue-800,
//   "blue-900": $blue-900
// );

$link-color:                              $body-color;
$link-color-alt:                          $primary;
$link-decoration:                         none;
$link-hover-color:                        shift-color($link-color, $link-shade-percentage);
$link-hover-decoration:                   underline;

$custom-grid-breakpoints: (
  lg: 1024px,
  xxxl: 1920px
);

$grid-breakpoints: map-merge($grid-breakpoints, $custom-grid-breakpoints);

//768 - 1 -> 2 col
//1024 - mobile menu
//1920 - mentions, events and about stick to left vp

$container-max-widths-custom: (
  content: 640px,
  content-2c: 970px,
);

$container-max-widths: map-merge( $container-max-widths, $container-max-widths-custom );

$border-color:                $gray-300 !default;

// Typography

$font-family-serif:           'Adobe Caslon', Lusitana, serif;
$font-family-sans-serif:      Avenir, Montserrat, sans-serif;
$font-family-franklin-gothic: 'Franklin Gothic', 'Libre Franklin', sans-serif;
$font-family-proxima:         'Proxima Nova', Montserrat, sans-serif;
$font-family-savoy:           Savoy, $font-family-serif;

$font-size-base:              18px; // Assumes the browser default, typically `16px`
$line-height-base:            1.6;

$h1-font-size:                $font-size-base * 2.75;
$h2-font-size:                $font-size-base * 2.2;
$font-size-body:              $font-size-base * 1.055;

$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
);

$font-sizes-custom: (
  body: $font-size-body,
);

$font-sizes: map-merge($font-sizes, $font-sizes-custom);

$headings-font-family:        $font-family-serif;

$display-font-sizes: (
  1: 5rem,
  2: 4.25rem,
  // 2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem
);

$display-font-weight: 700;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.
$input-btn-font-family:       $font-family-sans-serif;
$input-btn-font-size:         1rem;

// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

$btn-box-shadow:              none;
$btn-link-color:              $gray-900;
$btn-link-hover-color:        $black;
$btn-border-radius:          9px;


// Forms
$form-text-font-size:                   1rem;
$form-text-color:                       $gray-900;
$input-bg:                              $gray-300;
$input-color:                           $gray-900;
$input-border-color:                    $gray-300;
$input-border-radius:                   0;
$input-focus-bg:                        shade-color( $input-bg, 10% );


// Navs
$nav-link-color:                    $body-color;
$nav-link-hover-color:              shade-color($nav-link-color, 10%);
$navbar-brand-font-size:            1rem;