//--------------------------------------------------------------
// Modals! Everybody's Favorite.
//--------------------------------------------------------------
.modal {
	z-index: 1050;

	&.modal-open {}

	.modal-dialog {

		left: 50%;
		top: 50%;
		transform: translate( -50%, -50% );
	}

	.modal-content {

		.modal-header {}

		.modal-body {}

		.modal-footer {}
	}

	.fluid-embed {

		embed,
		object,
		iframe {}
	}
}

.close {}
